@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}
@theme {
	--animate-slideIn63: slideIn63 .5s ease;
	--animate-slideIn52: slideIn52 .5s ease;

	@keyframes slideIn63 {
		0% {
			height: 0;
			bottom: 0;
		}
		100% {
			height: 483px;
		}
	}

	@keyframes slideIn52 {
		0% {
			height: 0;
			bottom: 0;
		}
		100% {
			height: 398px;
		}
	}

}